---
import MainLayout from "../layout/MainLayout.astro";
import Button from "../components/Button";
import ContactLink from "../components/ContactLink";

import email from "../../public/e-mail.gif";
import github from "../../public/ftpsync.gif";
import linkedin from "../../public/software-professional.gif";
import resume from "../../public/resume.gif";

interface NavItem {
    name: string;
    href: string;
}
const navItems = [
    { name: "Home", href: "/" },
    { name: "Blog", href: "/blog" },
    { name: "Guestbook", href: "/guestbook" },
    { name: "Favorites", href: "/favorites"},
    { name: "Website", href: "https://ilean.me"}
];
---

<MainLayout title="Codedex Hackathon 2024">
    <h1 class="text-3xl font-bold justify-center items-center text-center py-3 text-aqua">Welcome to My Website</h1>
    <div class="flex">
        <div class="w-1/4 py-4">
            {navItems.map((item: NavItem) => (
                <a href={item.href} class="block mb-2">
                    <Button className='bg-fushia justify-start items-center text-lg p-1 px-4 w-full border hover:bg-yellow hover:text-black' text={item.name} onClick={() => window.location.href = item.href} />
                </a>
            ))}
        </div>
        <div class="w-3/4 p-4">
            <h2 class="text-2xl font-bold text-blue">About Me</h1>
            <p class="text-lg">I am an experienced software engineer, with a passion for solving problems. My experience has mostly been in embedded software and systems. I have worked on various projects ranging from creating custom solutions for subsea applications, to being part of the Autonomous Vehicle team at General Motors.</p>
            <div class="py-4 text-lg">
                <h3 class="text-xl font-bold text-green">Skills</h2>
                <ul class="list-disc list-inside">
                    <li>Embedded Systems</li>
                    <li>Software Development</li>
                    <li>Project Management</li>
                    <li>Technical Writing</li>
                </ul>
            </div>
            <div class="py-4 text-lg">
                <h3 class="text-xl font-bold text-green">Contact Me</h3>
                <ContactLink text="email" url="mailto:ileanmjr88@gmail.com" image={email} />
                <ContactLink text="github" url="https://github.com" image={github} />
                <ContactLink text="linkedin" url="https://linkedin.com/in/ilean-monterrubio-jr" image={linkedin} />
                <ContactLink text="resume" url="https://rxresu.me/ileanmjr88/ilean-monterrubio-jr-resume-2024" image={resume} />
            </div>
        </div>
    
    </div>
</MainLayout>